* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: #f7f7f7;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Navbar */
.navbar {
    position: sticky;
    width: 100%;
    background: #4CAF50;
    display: flex;
    align-items: center;
    padding: 15px 20px;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo img {
    width: 100px;
    height: 50px;
    margin-right: 15px;
    border-radius: 25%;
}

.logo img:hover{
    border: 2px solid #f4a261;
}

.nav-title {
    font-size: 20px;
    font-weight: bold;
}

.nav-title:hover{
    text-decoration: underline;
}

/* Welcome Modal */
#welcome-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background: white;
    padding: 30px;
    border-radius: 8px;
    text-align: center;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input {
    padding: 10px;
    width: 80%;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #45a049;
}

.chat-container {
    position: sticky;
    display: none;
    margin: 2px;
    width: 100%;
    max-width: 600px;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chat-box {
    height: 300px;
    overflow-y: auto;
    margin-bottom: 10px;
    background: #f9f9f9;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.chat-message {
    padding: 10px;
    border-radius: 10px;
    margin: 5px 0;
    display: inline-block;
    max-width: 75%;
}

.user-message {
    background: #4CAF50;
    color: white;
    align-self: flex-end;
}

.bot-message {
    background: #ddd;
    color: black;
    align-self: flex-start;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15%;
}

input#user-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

button {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 8px;
    margin-left: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

/* Footer */
.footer {
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px 0;
    font-size: 14px;
    position: fixed;
    bottom: 0;
    left: 0;
}

.footer a {
    color: #f4a261;
    text-decoration: none;
    font-weight: bold;
}

.footer a:hover {
    text-decoration: underline;
}
